@page "/Booking/details/{CategoryId:int}";
@inherits BookingDetailsBase;

<h4 class="py-4">@ResourceCategoryName</h4>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.ArrowBackIosNew" Href="@("/Booking")">Back</MudButton>
</MudItem>

<MudGrid>
    @foreach (var resource in ResourceList)
    {
        <MudItem>
            <MudCard Style="height:100px; width:300px;">
                <MudCardContent>
                    <MudText Typo="Typo.body1" Class="pb-2"><b>@resource.Name</b></MudText>
                    <MudText Typo="Typo.body2">@resource.Description</MudText>
                    <MudText Typo="Typo.body2"><b>Amount: @resource.Amount</b></MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>