@page "/Booking";
@inherits BookingBase;
@attribute [Authorize(Roles = "Administrator,User")]

<MudGrid >
    <MudItem xs="12">
        <h3>Resources</h3>

        <MudStack Row="true">
            @foreach (var resourceCategory in ResourceCategoryList)
            {
                <MudItem>
                    <MudCard Style="height:120px; width:300px;">
                        <MudCardContent>
                            <MudText Typo="Typo.body1"><b>@resourceCategory.Name</b></MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/Booking/ResourceDetails/{resourceCategory.CategoryId}")">Details</MudButton>
                            <AuthorizeView Roles="Administrator">
                                <Authorized>
                                    <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" OnClick="@(() => DeleteResourceCategory(resourceCategory.CategoryId))" />
                                </Authorized>
                            </AuthorizeView>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudStack>
    </MudItem>
    
    <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.FullWidth" />

    <MudItem xs="12">
        <h3>Premises</h3>

        <MudStack Row="true">
            @foreach (var premiseCategory in PremiseCategoryList)
            {
                <MudItem>
                    <MudCard Style="height:120px; width:300px;">
                        <MudCardContent>
                            <MudText Typo="Typo.body1"><b>@premiseCategory.Name</b</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/Booking/PremiseDetails/{premiseCategory.PremiseCategoryId}")">Details</MudButton>
                            <AuthorizeView Roles="Administrator">
                                <Authorized>
                                    <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" OnClick="@(() => DeletePremiseCategory(premiseCategory.PremiseCategoryId))" />
                                </Authorized>
                            </AuthorizeView>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudStack>
    </MudItem>
</MudGrid>