@page "/Booking/PremiseDetails/{PremiseCategoryId:int}";
@inherits PremiseDetailsBase;

<h3 class="py-4">@PremiseCategoryName</h3>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.ArrowBackIosNew" Href="@("/Booking")">Back</MudButton>
    <MudSpacer />
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddCircleOutline" Label="Create Category" Href="@($"/Booking/PremiseDetails/{PremiseCategoryId}/CreatePremise")" />
        </Authorized>
    </AuthorizeView>
</MudItem>

<MudGrid>
    @foreach (var premise in PremiseList)
    {
        <MudItem>
            <MudCard Style="height:160px; width:300px;">
                <MudCardContent>
                    <MudText Typo="Typo.body1" Class="pb-2"><b>@premise.Name</b></MudText>
                    <MudText Typo="Typo.body2"><b>Size: @premise.Size</b></MudText>
                    <MudText Typo="Typo.body2">@premise.Description</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingBag" OnClick="BookPremise" />
                    <AuthorizeView Roles="Administrator">
                        <Authorized>
                            <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" OnClick="@(() => DeletePremise(premise.PremiseId))" />
                        </Authorized>
                    </AuthorizeView>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>