@page "/Booking/ResourceDetails/{CategoryId:int}";
@inherits ResourceDetailsBase;
@attribute [Authorize(Roles = "Administrator,User")]

<h3>@ResourceCategoryName</h3>

<MudItem xs="12" Class="d-flex mud-width-full py-2">
    <BackButton />
</MudItem>

<MudGrid>
    @foreach (var resource in ResourceList)
    {
        <MudItem>
            <MudCard Style="height:160px; width:300px;">
                <MudCardContent>
                    <MudText Typo="Typo.body1" Class="pb-2"><b>@resource.Name</b></MudText>
                    <MudText Typo="Typo.body2">@resource.Description</MudText>
                    <MudText Typo="Typo.body2"><b>Amount: @resource.Amount</b></MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingBag" Color="Color.Success" OnClick="@(() => BookResource(resource.ResourceId))" />
                    <AuthorizeView Roles="Administrator">
                        <Authorized>
                            <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" OnClick="@(() => DeleteResource(resource.ResourceId))" />
                        </Authorized>
                    </AuthorizeView>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>